*{
  margin: 0;
  /* padding: 0; */
  box-sizing: border-box;
}

/* Register */
.forms{
  color: rgb(237, 237, 237);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5%;
  height: 60vh;
  font-size: 18px;
}
.form{
  width: 30%;
  padding: 12px;
  border-radius: 6px;
  margin-left: 30%;
}
label{
  padding: 5px;
  margin-left: 30%;
}
.btn{
  width: 5%;
  margin-left: 32%;
}
#user{
  display: flex;
  margin-left: 40%;
}
#home{
  margin-left: 30%;
}
#btn-sec{
  font-size: 16px;
  padding: 5px 15px;
  border-radius: 5px;
  margin: 10px 0px;
  cursor: pointer;
}
.reg{
  background-color: rgb(8, 52, 84);
  height: 89vh;
}


/* Navbar */

.nav{
  background-color: rgb(14, 17, 19);
  display: flex;
  justify-content: space-around;
  padding: 25px;
  /* position: fixed; */
  top: 0;
  z-index: 999;
}
.logo{
  color: white;
}
/* About */

.about{
  background-color: rgb(8, 52, 84);
  color: white;
  display: flex;
  padding: 80px;
}
#top-about{
  font-weight: 700;
}
#image{
  border-radius: 7px;
  height: 200px;
}
#about-image{
  border-radius: 6px;
}
.about-pri{
  width: 50%;
}
.about-sec{
  width: 20%;
}

.forms-about{
  background-color: white;
  padding: 10px;
  border-radius: 6px;
}
.specs{
  padding: 20px;
}
#spec{
  padding: 6px;
  font-size: 22px;
}
#h2-about{
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding-top: 20px;
}

.inputfield{
  padding: 15px;
}
.form-group{
  padding: 5px;
  width: 100%;
  border-radius: 6px;
  
}
#p-top{
  font-size: 28px;
}
#p-about{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.sect-2{
  background-color: aliceblue;
  padding-bottom: 20px;
  margin: 0;
}
.sec-divs{
  display: flex;
  justify-content: center;
  font-weight: 600;
}
#sec-div-us{
  background-color: white;
  padding: 40px;
  border-radius: 6px;
}
.sect-3{
  background-color:  rgb(8, 52, 84);
}
#mid-about{
  color: white;
  font-weight: 600;
  display: flex;
  justify-content: center;
  padding: 15px;
}
.lower-sect{
  display: flex;
  margin-left: 15%;
  margin-right: 15%;
}
.lower-sect1{
  padding: 35px;
  background-color: aliceblue;
  border-radius: 7px;
  margin-bottom: 50px;
  margin-left: 7%;
}

.bottom{
  background-color: black;
  color: white;
  display: flex;
  padding: 80px;
  margin-bottom: 0%;
}
.bottom1{
 padding-right: 50px;
}
#bottom-header{
  font-weight: 600;
  font-size: 32px;
}
#bottom-p{
  font-weight: 300;
  font-size: 24px;
  padding-bottom: 30px;
}
#p-desc{
  font-size: 21px;
  font-weight: 300;
}

.btn{
  color: black;
  padding: 8px;
  border-radius: 6px;
  font-size: 18px;
}
.btn-primary{
  padding: 8px;
}
#sect1{
  width: 50%;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 10px;
  gap: 20px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 400px;
  /* width: 30%; */
  margin-right: 100px;
  background-color: rgb(168, 207, 241);
  color: black;

}
.grid-menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  color: black;
  padding: 10px;
  margin: 10px;
}

.menu {
  background-color: rgb(168, 207, 241);
  position: relative;
  display: flex;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 60%;
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 10px;
}

#image {
  width: 250px;
  height: 200px;
  /* border-radius: 6px; */
}

#add-icon-div {
  position: absolute;
  right: 20px;
  top: 0;
}

#add-icon {
  color: gray;
  font-size: 50px;
  font-weight: bold;

}
.search{
  padding: 8px;
  border-radius: 6px;
}
.select{
  padding: 8px;
  border-radius: 6px;
  font-size: 20px;
  width: 150%;
  margin-left: 60px;
  margin-top: 20px;
  background-color: aliceblue;
}
.home{
  display: flex;
}
.list{
  width: 80%;
}

.butt {
  border-radius: 6px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 8px;
  width: 130px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.butt span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.butt span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.butt:hover span {
  padding-right: 25px;
}

.butt:hover span:after {
  opacity: 1;
  right: 0;
}

.reserve{
  display: flex;
  padding: 80px;
}
.menus{
  display: flex;
}

/* AddMenuPage */

.form_box {
   margin-left: 30px;
   margin-top: 10px;
}
.form_box h4 {
   margin-top: 10px;
}

.new_menu {
   padding: 10px 25px;
   width: 300px;
}


.btn01 {
   background: #7c5dfa;
   padding: 7px 25px;
   border: none;
   outline: none;
   color: #fff;
   font-size: .9rem;
   border-radius: 5px;
   cursor: pointer;

}


.btn01 {
  padding: 5px 20px;
  font-size: .7rem;
}