*{
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color:white;
} 


.forms{
  color: rgba(14, 14, 13, 0.973);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20%;
  font-size: 18px;
  
}
.inputs{
  padding: 8px;
  border-radius: 8px;
  width: 250px;
}
.pages{
  padding: 30px;
  background-color: rgb(7, 104, 104);
  box-shadow: 3px 3px 3px 3px  rgb(153, 149, 149);
  opacity: 20px;
  border-radius: 10px;
}

.btn-sec{
  font-size: 16px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.reg{
  background-image: url("https://i.pinimg.com/564x/af/dd/02/afdd02e0026b91d76d5cd3388697dc68.jpg");
  background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 520px;
  height: 89vh;
}
.btn-sign{
  padding: 7px;
  font-size: 16px;
  color: black;
}


.nav{
  background-color: rgb(7, 104, 104);
  display: flex;
  justify-content: space-around;
  padding: 25px;
  top: 0;
  z-index: 999;
}
.logo{
  color: white;
}

/* Menu */
.res-reserve{
  background-color: rgb(214, 218, 221);
}

/* About */
/* .about{
  background-color: rgb(8, 52, 84);
  color: white;
  display: flex;
  padding: 80px;
} */
#top-about{
  font-weight: 700;
}
#image{
  border-radius: 7px;
  height: 200px;
}
#about-image{
  border-radius: 6px;
}
.about-pri{
  width: 50%;
}
.about-sec{
  width: 20%;
}

.forms-about{
  background-color: white;
  padding: 10px;
  border-radius: 6px;
}
.specs{
  padding: 20px;
}
#spec{
  padding: 6px;
  font-size: 22px;
}
#h2-about{
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding-top: 20px;
}

.inputfield{
  padding: 15px;
}
.form-group{
  padding: 5px;
  width: 100%;
  border-radius: 6px;
  
}
#p-top{
  font-size: 28px;
}
#p-about{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.sect-2{
  background-color: aliceblue;
  padding-bottom: 20px;
  margin: 0;
}
.sec-divs{
  display: flex;
  justify-content: center;
  font-weight: 600;
}
#sec-div-us{
  background-color: white;
  padding: 40px;
  border-radius: 6px;
}
/* .sect-3{
  background-color:  rgb(8, 52, 84);
} */
#mid-about{
  color: white;
  font-weight: 600;
  display: flex;
  justify-content: center;
  padding: 15px;
}
.lower-sect{
  display: flex;
  margin-left: 15%;
  margin-right: 15%;
}
.lower-sect1{
  padding: 35px;
  background-color: aliceblue;
  border-radius: 7px;
  margin-bottom: 50px;
  margin-left: 7%;
}

.bottom{
  background-color: black;
  color: white;
  display: flex;
  padding: 80px;
  margin-bottom: 0%;
}
.bottom1{
 padding-right: 50px;
}
#bottom-header{
  font-weight: 600;
  font-size: 32px;
}
#bottom-p{
  font-weight: 300;
  font-size: 24px;
  padding-bottom: 30px;
}
#p-desc{
  font-size: 21px;
  font-weight: 300;
}

.btn{
  color: rgb(88, 86, 86);
  padding: 8px;
  border-radius: 6px;
  font-size: 18px;
}
.btn-primary{
  padding: 8px;
}
#sect1{
  width: 50%;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 10px;
  gap: 20px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 400px;
  margin-right: 100px;
  background-color: rgb(168, 207, 241);
  color: black;
}
.grid-menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  color: black;
  padding: 10px;
  margin: 10px;
  height: 60vh;
}

.menu {
  background-color: rgb(168, 207, 241);
  display: flex;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 60%;
  border-radius: 10px;
}

#image {
  width: 250px;
  height: 200px;
}

#add-icon-div {
  position: absolute;
  right: 20px;
  top: 0;
}

#add-icon {
  color: gray;
  font-size: 50px;
  font-weight: bold;

}
.search{
  padding: 8px;
  border-radius: 6px;
}
.select{
  padding: 8px;
  border-radius: 6px;
  font-size: 20px;
  width: 150%;
  margin-left: 60px;
  margin-top: 20px;
  background-color: aliceblue;
}
.home{
  display: flex;
}
.list{
  width: 80%;
}

.butt {
  border-radius: 6px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 8px;
  width: 130px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.butt span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.butt span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.butt:hover span {
  padding-right: 25px;
}

.butt:hover span:after {
  opacity: 1;
  right: 0;
}

.reserve{
  display: flex;
  padding: 80px;
}
.menus{
  display: flex;
  justify-content: center;
  background-color: rgb(220, 241, 245);
}

.form_box {
  display: flex;
  justify-content: center;
  height: 74vh;
}
.h3-form_box{
   margin-top: 30px;
   align-items: center;
   /* margin-left: -30%; */
}

.new_menu {
   padding: 10px 25px;
   width: 300px;
}
.menu-page{
  padding: 80px;
}
.menu-form{
  background-color: #fff;
  height: 50vh;
  width: 50%;
  border-radius: 8px;
  margin-top: 80px;
}

.btn01 {
   background: #7c5dfa;
   padding: 7px 25px;
   border: none;
   outline: none;
   color: #fff;
   font-size: .9rem;
   border-radius: 5px;
   cursor: pointer;

}
.btn01 {
  padding: 5px 20px;
  font-size: .7rem;
}

/* Footer */
.footer{
  background-color: rgb(14, 17, 19);
  color: White;
  padding: 20px;
}
.foo{
  display: flex;
  justify-content: space-evenly;
}
.rows{
  flex-direction: column;
  margin-left: 5%;
  width: 100%;
}
.rights{
  display: flex;
  justify-content: center;
}
.h-footer{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
}
#p-about{
  color: white;
  margin-left: -40px;
  font-size: 18px;
}
#p-abouts{
  color: white;
  margin-left: 0px;
  font-size: 16px;
}

#cart{
  display: flex;
}

#cart1{
  display: flex;
  justify-content: flex-start;
  margin-left: 5px;
}

#cart2 {
  display: flex;
  justify-content: flex-end;
  margin-right: 5px;
}

/* Reservations Page */

.make-reservation{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


/* My Reservations */

.my-reservations{
  height: 68vh;
  background-color: rgb(237, 235, 235);
  display: flex;
  justify-content: center;
}

/* Admin Navbar */
#nav-bar{
  background-color: black;
  padding: 25px;
  display: flex;
  justify-content: space-around;
}
#btn-nav{
  padding: 8px;
  border-radius: 8px;
}

/* .nav-res{
  display: flex;
  justify-content: space-around;
} */

#table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#table td, #table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#table tr:nth-child(even){background-color: #f2f2f2;}

#table tr:hover {background-color: #ddd;}

#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}